.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
~*
*.Rproj
# cultures/R_tutorial_cultures.html
# cultures/R_tutorial_cultures_files/*
# cultures/R_tutorial_cultures_cache/*
*figure-latex*
*_cache*
*.zip